  <head>
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
      <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
      <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/source-code-pro/source-code-pro.css" type="text/css">
    <link rel="stylesheet" href="/media/css/org-manual.css" type="text/css">
    <link rel="stylesheet" href="/media/css/code-solarized-dark.css" type="text/css">
  </head>
